#content {
  .calendar {
    .day {
        background-size: 100% 20px;
        background-image: linear-gradient(to bottom, black 0%, transparent 7%, transparent 100%);
        width: 500px;
        height: 500px;
        position: relative;

        .timeSlot {
          left: 10%;
          width: 75%;
          position: absolute;
        }
    }
  }
}